#new-weight, #new-sets, #new-reps {
  width:5em;
  -webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	-ms-border-radius: 0 0 0 0;
	-o-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
}

#new-weight {
  -webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-ms-border-radius: 4px 0 0 4px;
	-o-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

#todo-list {
  margin: 0 0 0 5px;
  color: #333;
}

#todo-list li {
	padding: 18px 20px 18px 0;
	position: relative;
	list-style:none;
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
}

#todo-list li:last-child {
	border-bottom: none;
	margin-bottom: 15px;
}

#todo-list .destroy {
  padding: 1px 5px 5px 5px;
	position: absolute;
	right: 5px;
	top: 20px;

}

#todoapp footer {
	display: none;
	margin: 0 -20px -20px -20px;
	overflow: hidden;
	color: #555555;
	background: #eeeeee;
	border-top: 1px solid #ededed;
	padding: 0 20px;
	line-height: 37px;
}

#todo-count span {
	font-weight: bold;
}

h5 {
  margin-top: 20px;
}

.input-append { 
  margin-bottom: 25px;
}

/* Chart CSS */
svg {
   padding-bottom: 10px;  
}
path {
	stroke: steelblue;
	stroke-width: 3;
	fill: none;
}





