#workout-list {
  margin: 0 0 0 5px;
  color: #333;
  max-width: 500px;
}

#workout-list li {
	padding: 18px 20px 18px 0;
	position: relative;
	list-style:none;
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
}

#workout-list li:last-child {
	border-bottom: none;
	margin-bottom: 15px;
}

#workout-list .destroy {
  padding: 1px 5px 5px 5px;
	position: absolute;
	right: 5px;
	top: 20px;

}

#workoutapp footer {
	display: none;
	margin: 0 -20px -20px -20px;
	overflow: hidden;
	color: #555555;
	background: #eeeeee;
	border-top: 1px solid #ededed;
	padding: 0 20px;
	line-height: 37px;
}

#workout-count span {
	font-weight: bold;
}

h5 {
  margin-top: 20px;
}

.form-horizontal {
  border: 1px solid #DDDDDD;
  color: #9DA0A4;
  max-width: 400px;
  padding: 10px 20px 10px 10px;
  float: left;
  margin-top:20px;
}

.add {
  float: right;
}

.clear {
  clear:both;
}


/* Chart CSS */
svg {
   padding-bottom: 10px;  
}
path {
	stroke: steelblue;
	stroke-width: 3;
	fill: none;
}





