<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Easy Workout Tracker</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
  <link rel="stylesheet" href="css/workouts.css"/>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">Workout Tracker</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div id="workoutapp">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="new-weight">Lbs Lifted</label>
            <div class="controls">
              <input id="new-weight" type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="new-sets"># of sets</label>
            <div class="controls">
              <input id="new-sets" type="number">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="new-reps"># of reps</label>
            <div class="controls">
              <input id="new-reps" type="number">
            </div>
          </div>
          <button class="btn btn-success add" type="button">
          <i class="icon-plus icon-white"></i> Add</button>
        </form>
        <div class="clear"></div>
        <h5>Weight Lifted per Workout:<h5>
        <div id="chart" class="chart"></div>
        <ul id="workout-list"></ul>
        <footer>
          <div id="workout-count"></div>
        </footer>
      </div>
    </div>
  </div>
  
  <script src="js/d3.v2.min.js"></script>
  <script src="js/json2.js"></script>
  <script src="js/jquery-1.7.1.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone-min.js"></script>
  <script src="js/backbone-localstorage.js"></script>
  <script src="js/workouts.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <!-- Templates -->
  <script type="text/template" id="item-template">
    <div class="view">
      <label>Lifted <%- title %>lbs in <%- sets %> sets of <%- reps %> reps </label>
      <a class="destroy"><i class="icon-remove"></i></a>
    </div>
  </script>

  <script type="text/template" id="stats-template">
    <div class="workout-count"><b><%= remaining %></b> <%= remaining == 1 ? 'workout' : 'workouts' %> tracked</div>
  </script>

  </body>
</html>
